@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet|Quicksand|Barlow");

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

main {
    font-family: Barlow, Quicksand, Rubik, sans-serif, serif, 'Times New Roman', Times, serif !important;
}

.navbar {
    background-color: rgb(0, 0, 0) !important;
}

.card {
    box-shadow: 15px 15px 10px rgb(78, 77, 77);

}

.card-img-top {
    height: 340px;
    width: 100%;
}

a {
    text-decoration: none !important;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    background: black !important;
    color: white !important;
    transition: 0.7s ease;
}

.icon-bar {
    color: black;
}
