{% extends 'dashboard/base.html' %} 
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
                <div class="card">
                    <div class="card-header">{{note.title}}</div>
                    <div class="card-body">{{note.description}}</div>
                    <div class="card-footer mt-auto "><a href="{% url 'delete-note-confirm' note.id %}">
                        <i class="fa fa-trash fa-2x"></i></a>
                    </div>
                    <div class="card-footer mt-auto">
                        <a href="{% url 'edit-note' note.id %}">
                            Edit
                        </a>
                    </div>
                </div>
        </div>
        <br><br>
    </div>
</div>

{% endblock content %}